body{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to bottom, red, orange, yellow);
    line-height: 1.8;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px;
    background-color: #212121;
    border-bottom:2px solid rgb(189, 189, 189) ;
}

nav .accueil{
    text-align: start;
    width: 50%;
    height: 100%;

}
nav .nom{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.contenu{
    
}
section div{
    margin: 0 auto;
}
section div:nth-child(even){
    position: relative;
    left: 10%;
}
section div:nth-child(odd){
    position: relative;
    right: 10%;
}


.card{
    margin-top: 50px;
    border: 2px solid white;
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(to bottom, #212121, #8b8b8b,);
}

.images{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.images img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid red;
}








img{
    height: 150px;
}