body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333333;
    margin: 20px;
    padding: 20px;
}
header {
    max-width: 800px;
    background-image: url('img/banniere.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
    color: #f0f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header .intro-text {
    margin-right: 20px;
}
header .photo-container img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #333333;
}

main {
    max-width: 800px;
    margin: 0 auto;
}
section {
    border: 2px solid #53b0ee;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #c8eaed;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #1e90ff;
    background-color: #e0edf9;
}
section h2 {
    text-align: center;
    color: #2e8b57;

}
section ul {
    list-style-type: square;
    padding-left: 20px;
}
section ul li {
    margin-bottom: 8px;
}
.contact p {
    margin: 5px 0;
}
.contact .github a, .contact .linkedin a {
    text-decoration: none;
    color: #333333;
}
.contact .github a:hover, .contact .linkedin a:hover {
    color: #2e8b57;
}
.contact i {
    margin-left: 5px;
}
strong {
    color: #1e90ff;
}

footer {
    background-color: #777777;
    text-align: center;
    font-size: 0.9em;
    color: #4fa6e8;
    margin: 0 auto;
    padding: 10px;
}